header img {
  box-sizing: border-box;
  max-width: 100%;
  width: 600px;
  height: auto;
  margin: auto;
  display: block;
  padding: 20px;
}

@keyframes scroll {
  from {
    left: 100%;
  }
  to {
    left: -1000px;
  }
}

header {
  position: relative;
}

header .logo {
  padding-top: 32px;
}

/* The element to apply the animation to */
header .marquee {
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow-x: hidden;
  position: absolute;
  width: 1000px;
  top: 0;
  color: rgba(37, 49, 211, 0.75);
}

header p {
  margin: 0;
}